body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3498db; /* Change background color as needed */
}

.calculator {
    width: 300px;
    background-color: #38ec0b;
    border-radius: 15px; /* Adjust the border-radius for the shape */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    position: relative;
}

#title {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
    animation: moveTitle 2s infinite alternate;
}

@keyframes moveTitle {
    from { transform: translateY(0); }
    to { transform: translateY(-5px); }
}

#display {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 20px;
    text-align: right;
    border: none;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    background-color: #95a5a6;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #7f8c8d;
}